
.maindiv { 
    position: relative;
}

.image{
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.toname{
    position: absolute;
    z-index: 2;
    color: white;
    top: 20px;
    left: 20%;
    cursor: pointer;
}

.fromname{
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    bottom: 10px;
    left: 70%;
    cursor: pointer;
}

