<div class="row">
  <div class="col-lg-6">
    <form [formGroup]="formdata" (ngSubmit)="submit(formdata.value)">

      <input type="text" class="form-control mb-3" placeholder=" From" formControlName="from">

      <input type="text" class="form-control mb-3" placeholder="To" formControlName="to">

      <select class="form-control mb-3" #g (change)="greetingChanged(g.value)">
        <option value="0">Select</option>
        <option *ngFor="let data of greetings" value="{{data._id}}">{{data.name}}</option>
      </select>

      <select class="form-control mb-3" #sg (change)="subGreetingChanged(sg.value)">
        <option value="0">Select</option>
        <option *ngFor="let data of subgreetings" value="{{data._id}}">{{data.name}}</option>
      </select>

      <div class="row">
        <div class="col-md-3" style="width: 200px;" class="m-3" *ngFor="let data of templates"> 
          <div ><img style="cursor: pointer;" class="img-fluid img-thumbnail" src="{{api.baseurl + data.imagepath}}"  (click)="url(api.baseurl + data.imagepath)" ></div>
          <!-- <div ><img id="img" (click)="base64()" class="img-fluid" src="{{api.baseurl + data.imagepath}}"   ></div> -->
        </div>
      </div>

      <!-- <input type="text" class="form-control mt-3" enctype="multipart/form-data" placeholder="Choose file"  formControlName = "image"> -->
      <button type="submit" class="btn btn-primary mt-3">Preview</button>
    </form>
  </div>
</div>